# IndexError

In [1]:
mylist = [14, "hello", 967]
mylist[2] #IndexError is thrown because the given index is invalid and exceeds the number of items in "mylist"

967

# ImportError

In [4]:
import pandas
import numpy #ImportError is thrown because there are no modules named Pandas and NumPy

# SyntaxError

In [5]:
print("python errors") #SyntaxError is thrown because the parentheses needed in the "print" function are missing

python errors

# KeyError

In [6]:
mydictionnary = {True:"hello", False:"bye", '3':"python"}
mydictionnary[True] #KeyError is thrown because the given key is not found in "mydictionnary"

'hello'

# IndentationError

In [15]:
i = 14
while i < 16:
    print(i)
    i+=1 #IndentationError is thrown because "while" is a loop, therefore Python expects indentation

14
15

# StopIteration

In [9]:
it = iter([1,2,3])
next(it)
next(it)
next(it) #StopIteration is thrown because "next" goes beyond the three items

3

# TypeError

In [10]:
'15'+'15' #TypeError is thrown because concatenation is impossible between a string and an integer

'1515'

# ValueError

In [11]:
int(3.14) #ValueError is thrown because converting a string to an integer is impossible

3

# NameError

In [12]:
python = 3 #NameError is thrown because the variable "python" isn't defined before
python

3

# ZeroDivisionError

In [13]:
x = 19/3 #ZeroDivisionError is thrown because dividing a number by zero is impossible